<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Bootstrap config meta links -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Nightlife App</title>

        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script> <!-- jQuery CDN -->
        <script src="/js/main.js"></script> <!-- local main.js -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"> <!-- bootstrap 4.0.0 css CDN -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> <!-- local main.css -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> <!-- bootstrap 4.0.0 js CDN -->
    </head>
    <body>
        <a href="/logout" class="btn btn-sm btn-danger">Log Out</a>
