h6 {
    text-align: right;
}

input {
    display: block;
    margin-bottom: 5px;
    width: 400px;
}

.form {
    display: block;
    text-align: center;
    padding-top: 40vh;
}

form {
    display: inline-block;
    margin: 0 auto;
}

.thumbnail {
    width: 10%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

footer {
    margin-top: 30vh;
    text-align: center;
}
